{% extends "layout.html" %}

{% block title %} 
  <title>Ideias - Casa Criativa</title>
{% endblock %}

{% set bodyId = "pages-ideias" %}

{% block content %}

    <div id="container">
      <header>
        <a href="/">
          <img src="./images/logo.png" alt="Casa criativa">
        </a>
        <nav>
            <li><a href="/">Início</a></li>
            <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
      </header>

      <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
      </section>

      <main>
        <section id="ideias">
          {% include "all_ideias.html" %}
        </section>
      </main>

      <footer>
        Com 💜 <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
      </footer>
    </div>

{% endblock %}