@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap');

/* ===  RESET CSS  === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, nav{
	list-style: none;
}

a{
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
	cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

/* === VARIAVEIS DE COR === */
:root{
    --color-principal: #ff5E84;
    --color-text: #25282B;
}

/* ===  CORPO DO SITE  === */
body{
    font-family: 'Montserrat', sans-serif;
    background: #e5e5e5;
    color: var(--color-text);
}

body.hideScroll{
    overflow: hidden;
}

#container{
    display: flex;
    width: 80%;
    max-width: 890px;
    margin: 40px auto;
}

section#intro{
    width: 300px;
    margin-right: 60px;
}

main{
    margin: 32px 0; 
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

section#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button{
    color: var(--color-principal);
    font-size: 14px;
    font-weight: 18px;
    letter-spacing: 0.2px;
    border: none;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;
}

.button:hover{
    text-decoration: none;
}

button:hover{
    text-decoration: underline;
}

section a.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: var(--color-principal);
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

section footer a:hover{
    color: var(--color-principal);
    font-weight: bold;
}

footer{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #777;
    text-align: center;
}

footer a{
    opacity: 0.8;
}

section div.ideia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
}

section div.ideia img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

section div.ideia p{
    margin: 8px 0;
    color: #777;
}

section div.ideia div.description{
    margin: 16px 0;
}

/* ===|> PAGINA DE IDEIAS.HTML <|=== */

#pages-ideias #container{
    display: block;
}

#pages-ideias header {
    display: flex;
    justify-content: space-between;
}

#pages-ideias nav{
    display: flex;
    align-items: center;
}

#pages-ideias nav li{
    margin-right: 16px;
    outline: none;
}

#pages-ideias nav li a:nth-child(1),
#pages-ideias nav li a:nth-child(2){
    color: #25282B;
}

#pages-ideias nav li:last-child{
    margin-right: 0;
}

#pages-ideias nav li:last-child a{
    width: 150px;
    height: 40px;
    background: var(--color-principal);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#pages-ideias nav li:last-child a:hover{
    background: #0984e3;
    color: #ffffff;
}

#pages-ideias section#title{
    text-align: center;
}

#pages-ideias section#title p{
    opacity: 0.7;
}

#pages-ideias section#title h1{
    font-size: 28px;
}

#pages-ideias section#ideias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#pages-ideias main section#ideias div.ideia{
    margin-bottom: 0px;
}

#pages-ideias section#title,
#pages-ideias main section#ideias,
#pages-ideias footer{
    margin-top: 64px;
}


/* ===  MODAL === */

div#modal{
    background: var(--color-principal);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

div#modal.addScroll{
    overflow: auto;
}

div#modal .content{
    margin-top: 5%;
    color: #fff;
}

div#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

div#modal form{
    width: 80%;
    max-width: 800px;
    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

div#modal form input,
div#modal form textarea{
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

div#modal form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

div#modal form a{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background: #ffffff22;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    transition: 400ms;
}

div#modal form a:hover{
    text-decoration: none;
    background: #ffffff;
    color: var(--color-principal);
}

div#modal form button{
    background: #fff;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    grid-column: 2; /*Movendo o button para a coluna 2*/
    justify-self: end;
    transition: 400ms;
}

div#modal form button:hover{
    text-decoration: none;
    color: #fff;
    background: #0984e3;
}

/* Classe aplicada com Javascript */
#modal.hide{
    /*display: none;  A propriedade display, NÃO aceita transition*/
    opacity: 0;
    visibility: hidden;
}